.drinkList {
  margin-top: 15px;
  width: 20%;
  
}
.drinkContainer {
  display: flex;
  font-size: 20px;
  height: 900px;
  width: 70%;
  background-color: tan;
  margin-left: 15%;
  flex-wrap: wrap;
  overflow: auto;

  box-shadow:
  /* top shadow */
  0 -1px 1px rgba(0,0,0,0.15),
  /* second layer */
  0 -10px 0 -5px tan,
  /* second shadow */
  0 -10px 1px -4px rgba(0,0,0,0.15),
   /* third layer */
  0 -20px 0 -10px tan,
  /* third shadow */
  0 -20px 1px -9px rgba(0,0,0,0.15);
  border-bottom: 1px solid rgb(100, 96, 96);
  border-left: 1px solid rgb(100, 96, 96);
  border-right: 1px solid rgb(100, 96, 96);
}

.drinks{
  display: flex;
  justify-content: center;
  align-items: center;
}
.liquor-type{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin-left: 46%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.new-cocktail-form{
  border-radius: 5px;
  background-color: rgb(93, 112, 131);
  padding: 25px;
  width: 25%;
  margin: 400px auto;
}
textarea{
  resize: none;
  height: 150px;
  width: 100%;
  border-radius: 8px;
  margin-top: 5px;
}

.edit-cocktail-form{
  border-radius: 5px;
  background-color: rgb(93, 112, 131);
    padding: 25px;
    width: 15%;
    margin: 400px auto;
}

.single-cocktail-image{
  display: flex;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    width: 60%;
    height: 55%;
    margin: auto 0px;
    border-radius: 15px;
    
}

.single-cocktail{
  
    
    width: 1000px;
    height: 1000px;
    
}