.drinkList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 35vw;
    justify-content: flex-start;
    overflow: auto;
    background-color: rgb(226, 204, 176);
    border-radius: 2%;
    outline: 2px solid rgb(93, 112, 131);
    outline-offset: -5px;
}

.main-list-outer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.welcome-container{
    width: auto;
    height: 15vh;
    display: flex;
    justify-content: center;
}

.welcome {
    width: 80vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    
}
.words{
    height: 10vh;
    width: auto;
    background-color: aliceblue;
    padding: 5px;
    overflow: auto;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ece8e800;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
