.login-form {
    border-radius: 5px;
    background-color: #f5eeee;
    padding: 25px;
    width: 15%;
    margin: 400px auto;
}

input {
    width: 100%;
    padding: 10px;
    /* margin: 5px; */
    border: 1px solid rgb(223, 188, 188);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: rgb(45, 137, 165);
    color: white;
    padding: 5px 20px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inline-start;
    
}
